# VCS
.git
.gitignore

# Dependencies
node_modules
**/node_modules

# Build artifacts
**/dist
**/.turbo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS files
.vscode
.DS_Store

# Env files
.env
**/.env

# Keep template envs
!**/.env.example
